<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1> MUSIC APP </h1>
      <% if logged_in? %>
        <!-- <a href="<%#= session_url %>">Logout</a> -->
        <%= link_to "Logout", action: 'destroy', controller: 'sessions'  %>
      <% else %>
        <a href="<%= new_session_url %>">Sign In</a>
        <br>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>
    </header>


    <%= yield %>

    <!-- <%# if logged_in? %>
      <form action="<%#= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">

        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout!">
      </form>
    <%# else %>
      <form action="<%#= new_session_url %>" method="get">
        <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">

        <input type="submit" value="Sign In!">
      </form>

      <form action="<%#= new_user_url %>" method="get">
        <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">

        <input type="submit" value="Sign Up!">
      </form>
    <%# end %> -->


  </body>
</html>
